body {
    background-color: darkgrey;
}
#list-area {
    background-color: whitesmoke; 
    max-width: 200px;
    border: ridge black;
}
#str-area {
    background-color: lightblue;
    max-width: 200px;
    border: ridge gray;
}

input[type=radio]:hover +label{
    background-color: darkgray;
}
input[type=radio]:checked +label{
    background-color: grey;
}

#tournament-area {
    background-color: darkturquoise;
}
